@import '_common.less';
@import '_fonts.less';
@import '_layouts.less';
@import '_modules';
@import 'helpers/_all';

.canvas{
    // border: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    .center;
}

body{
    background: rgb(24, 173, 69);
    overflow: hidden;
}

svg{
    display: none;
}

label{
    color: white;
}